# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [5]:
import pandas as pd

In [6]:
# Your code here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)

In [7]:
insurance_df.shape # Number of rows, columns

(4008, 11)

In [8]:
insurance_df.info() # data type of every column

# The CLV should be float64.
# The Number of Open Complaints should  be int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [9]:
insurance_df.nunique() # unique values per column

# The columns ST, GENDER, Education, Policy Type and Vehicle class appear to be categorical.

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [10]:
insurance_df.describe(include="all")

# Insights:
# 1. As we have seen before, since the column Customer Lifetime Value does not have a number format, there is no
#    useful information about the metric. We should be able to compute the mean, std, etc.
# 2. The same thing happens with the column Number of Open Complaints.
# 3. There are 1071 customers but we do not have the complete information of all of them (there is data related to Gender
#    and CLV that are missing, we have less than 1071 records).
# 4. The columns ST and GENDER has inconsistent data (e.g. 'Femal'/'female', 'California'/'Cali'). See results below.
# 5. The Income ranges from 0 to 99960, being the mean value 39295. The std looks high compared to the mean, so it seems 
#    that there is dispersion around the mean.
# 6. The Monthly Premium Auto ranges from 61 to 35354. The maximum premium seems to be an outlier, since que quartile 75% 
#    tells us that 75% of the data is below 109.5 which is very far from the maximum premium.
# 7. We cannot say much about the Number of Open Complaints because it does not have a number format.
# 8. The insurance company offers 3 types of policies, as shown in the unique values of the column Policy Type, and 
#    it seems that the most popular policy type is Personal Auto (780 customers out of 1071 have it).
# 9. There are 6 different types of vehicle classes insured, being the Four-Door Car the most frequent (576 out of
#    1071).
# 10.The maximum Total Claim Amount also seems to be an outlier, since 755 of the values of the dataset are below 
#    532.8 and the mean value is 404.98.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,RB50392,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

In [11]:
# Example of inconsistent data 
insurance_df.GENDER.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [12]:
# Example of inconsistent data
insurance_df.ST.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [13]:
# This data seems correct
insurance_df.Education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [15]:
# Your code here
insurance_series_ST = pd.read_csv(url, usecols=["ST"]).squeeze("columns")
insurance_series_ST_count = insurance_series_ST.value_counts(ascending=True)
insurance_series_ST_count[0:5]

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [16]:

insurance_series_Policy_Type = pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns")
insurance_series_Policy_Type_count= insurance_series_Policy_Type.value_counts(ascending=False)
insurance_series_Policy_Type_count.index[0]

'Personal Auto'

In [17]:
# Another method
insurance_series_Policy_Type_count.idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [27]:
# Your code here
personal_auto = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto']
corporate_auto = insurance_df.loc[insurance_df['Policy Type'] == 'Corporate Auto']

In [31]:
personal_auto_mean = personal_auto['Income'].mean()
corporate_auto_mean = corporate_auto['Income'].mean()

In [34]:
print(f'The average salary for Personal Auto policies is {personal_auto_mean}')
print(f'The average salary for Corporate Auto policies is {corporate_auto_mean}')

The average salary for Personal Auto policies is 38180.69871794872
The average salary for Corporate Auto policies is 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [39]:
# We can define the top 25% as the Total Claim Amount values greater than the 75% percentile (already 
# calculated in exercise 1)
top_25 = insurance_df.loc[insurance_df['Total Claim Amount'] > 532.80]
top_25.describe(include = 'all')

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,264,264,238,264,264,264.000000,264.000000,264,264,264,264.000000
unique,264,7,5,5,256,NaN,NaN,6,3,6,NaN
top,QZ44356,Oregon,F,Bachelor,578018.22%,NaN,NaN,1/0/00,Personal Auto,SUV,NaN
freq,1,90,115,85,3,NaN,NaN,206,191,101,NaN
mean,NaN,NaN,NaN,NaN,NaN,23677.344697,165.193182,NaN,NaN,NaN,782.228263
std,NaN,NaN,NaN,NaN,NaN,27013.483721,623.930992,NaN,NaN,NaN,292.751640
min,NaN,NaN,NaN,NaN,NaN,0.000000,63.000000,NaN,NaN,NaN,537.600000
25%,NaN,NaN,NaN,NaN,NaN,0.000000,99.000000,NaN,NaN,NaN,606.521741
50%,NaN,NaN,NaN,NaN,NaN,18807.000000,114.000000,NaN,NaN,NaN,679.597985
75%,NaN,NaN,NaN,NaN,NaN,42423.750000,133.250000,NaN,NaN,NaN,851.400000
max,NaN,NaN,NaN,NaN,NaN,99316.000000,10202.000000,NaN,NaN,NaN,2893.239678